# BSC 网络
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
BSC_RPC_URL=https://bsc-dataseed.binance.org/

# 部署者私钥 (不要提交到 git!)
DEPLOYER_PRIVATE_KEY=

# BSCScan API Key (合约验证)
BSCSCAN_API_KEY=
